/****** Object:  StoredProcedure [dbo].[MostrarCadastro]    Script Date: 06/07/2020 22:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[MostrarCadastro]
as
select *from CADASTRO
